process {
    withLabel: 'sar_tools' { container = 'ghcr.io/bixbeta/sartools:latest' }
    withLabel: 'qmds'      { container = 'ghcr.io/bixbeta/sartools:latest' }
    withLabel: 'gbcov'     { container = 'ghcr.io/bixbeta/sartools:latest' }
}

docker {
    enabled    = true
    // Mount projectDir so bash-template.sh and makeReport.sh can resolve ${projectDir}/templates/...
    runOptions = "-v ${projectDir}:${projectDir}"
}
