process {
    withLabel: 'sar_tools' { container = 'docker://ghcr.io/bixbeta/sartools:latest' }
    withLabel: 'qmds'      { container = 'docker://ghcr.io/bixbeta/sartools:latest' }
    withLabel: 'gbcov'     { container = 'docker://ghcr.io/bixbeta/sartools:latest' }
}

singularity {
    enabled    = true
    autoMounts = true
    runOptions = "-B /local -B /workdir -B ${projectDir}"
}
